<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{info.site_name}} 管理系统消息</title>
</head>
<body>
<p>{{ info['username'] }} ，你好：</p>
{% if info['sys'] %}
    <p>
        以下番组有部分剧集资源未在计划时间内更新，并且这些番组目前没有被指派维护者，因此所有管理员均会收到此提醒。
    </p>

{% else %}
    <p>
        以下由你维护的番组有部分剧集资源未在计划时间内更新：
    </p>
{% endif %}
{% for bangumi_dict in bangumi_list %}
    <h4>
        <a href="{{ info['root_path'] + '/admin/bangumi/' + bangumi_dict['id'] }}">{{ bangumi_dict['name'] }}</a>
    </h4>
    <ul>
        {% for episode in bangumi_dict['episodes'] %}
            <li>
                第 {{ episode['episode_no'] }} 话，放送时间为 {{ episode['airdate'] }}
            </li>
        {% endfor %}
    </ul>
{% endfor %}
<p>若某番组提醒过于频繁，可能是该字幕组更新延迟较高，可以将该番组报警超时值调整为更高（默认为 6 天）。</p>
<p>要避免继续收到相关提醒，可以将该番组指派给其他管理员维护，或将该番组状态更改为 FINISHED (若确实需要)。</p>
<p>{{info.site_name}}</p>
</body>
</html>

